@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --russian-violet: #4e0250;
    --mari-gras: #801a68;
    --jade: #04a777;
    --ultra-violet: #645986;
    --poppy: #df2945;
}

/* Universal Styles */
* {
    box-sizing: border-box;
}
html {
    font-size: 18px;
    font-family: Garamond;
}
.container {
    max-width: 768px;
    margin: 1rem 0;
    width: 100%;
    display: block;
    padding: 10px;
}
.underline {
    text-decoration: underline;
}
.libre-baskerville{
    font-family: 'Libre Baskerville';
}
.merriweather {
    font-family: 'Merriweather';
}
/* Header */
h1 {
    font-family: 'Merriweather';
    text-align: center;
    font-size: 32px;
}
h2 {
    font-family: 'Merriweather';
    text-align: center;
    font-size: 24px;
}
/* Nav */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--russian-violet);
}
nav ul li {
    float: left;
}
nav ul li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 1rem;
}
nav ul li a:hover {
    background-color: var(--ultra-violet);
    border-radius: 10px;
}
nav .active {
    background-color: var(--mari-gras);
    border-radius: 10px;
}
/* Sections */

/* Sementic Elements Table */
.semantic-elements table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
}
.semantic-elements th, td {
    border: 2px solid black;
}
/* Style Guide */
.color-guide {
    border: 2px solid black;
}
.color-guide table {
    border-collapse: collapse;
}
.color-guide tbody {
    text-align: center;
}
.color-guide th {
    border: 2px solid black;
}
.color-guide table p {
    font-size: 16px;
    margin: 8px;
}
.color-guide .left {
    border-right: none;
}
.color-guide .middle {
    border-left: none;
    border-right: none;
}
.color-guide .right {
    border-left: none;
}
/* Jade Surprise Color Palette */
.russian-violet{
    background-color: var(--russian-violet);
    color: #fff;
}
.mardi-gras {
    background-color: var(--mari-gras);
    color: #fff;
}
.jade {
    background-color: var(--jade);
}
.ultra-violet {
    background-color: var(--ultra-violet);
}
.poppy {
    background-color: var(--poppy);
}

/* Fonts */
.fonts-guide {
    border: 2px solid black;
}

.fonts-panel {
    border: 1px solid black;
    margin: 1rem 0;
    width: 100%;
    display: inline-block;
    padding: 10px;
}
/* Text Styles */
.text-styles-guide {
    border: 2px solid black;
}
.font-weight-panel {
    border: 2px solid black;
    padding: 5px;
}
.text-styles-panel {
    border: 2px solid black;
}
.text-styles-panel h1 {
    text-align: unset;
}
.text-styles-panel h2 {
    text-align: unset;
}

/* Footer */